.mat-mdc-table-scroll-container {
  overflow-x: scroll;
  overflow-scrolling: touch; /* For smoother scrolling on mobile */
  width: 100%;
}

.no-data-actions {
  text-align: center;
  margin-top: 20px;
  color: gray;
}

.no-data-actions mat-icon {
  font-size: 48px;
  color: lightgray;
  margin-bottom: 10px;
}

.no-data-actions button {
  margin-top: 10px;
}







