.payment-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  // justify-content: space-between;

  mat-form-field {
      width: 49%;
      padding-right: 12px;
  }
}

.payment-table {
  width: 100%;

  .last-active-cell {
    &:first-letter {
      text-transform: uppercase;
    }
  }
}

.mat-mdc-form-field {
  width: 100% !important;
}
