@mixin bg-img($img) {
  background: {
    image: url($img);
    size: cover;
    position: center;
    repeat: no-repeat;
  }
}

// $start-opacity, $ending-opacity,
@mixin bg-img-overlay($bg-color) {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: $bg-color;
  content: "";
}

