# Python bytecode
__pycache__/
*.pyc

# ipython notebook checkpoints
.ipynb_checkpoints

# Tests
.pytest_cache

# Tests coverage
coverage

# MyPy Python
.mypy_cache

# Celery beat schedule
celerybeat-schedule.db

# PulsePoint discovery checkpoint
.discover_checkpoint.json

# Local Celery logs and PID files
logs/
