<header id="header" class="fixed-top">
  <nav class="navbar p-0">
    <div class="container">
      <a [routerLink]="['/']" class="navbar-brand m-0">
        <span style="font-size:22px;font-weight:800;color:#fff;letter-spacing:4px;">RIN<sup style="font-size:10px;color:#00C2FF;">&trade;</sup></span>
      </a>

      <ul class="navbar-nav flex-row align-items-center">
        <li class="nav-item active">
          <a class="nav-link active p-2 p-lg-1" [routerLink]="['/']">Home</a>
        </li>

        <li class="nav-item d-none d-lg-block ms-5">
          <a class="sign-in-btn sign-in-btn-sm" href="#login">Sign in</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
