<h2 mat-dialog-title>
  {{ title }}
</h2>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div mat-dialog-content *ngIf="this.action == 'multiple-delete'">
  <p>Are you sure you want to delete {{this.selection.selected.length}} clients?</p>
</div>

<div mat-dialog-content *ngIf="this.action == 'multiple'">

  <p><strong>{{this.selection.selected.length}}</strong> records selected</p>

  <form [formGroup]="clientBelongsTo" class="client-form">
    <mat-form-field>
      <mat-label>Assigned to</mat-label>
      <mat-select *ngIf="role=='super-admin' || role=='admin'" formControlName="belongs_to"
        placeholder="Select agent assigned to" name="belongs_to">
        <mat-option *ngFor="let agent of agents" [value]="agent.id">
          {{agent?.first_name}} {{agent?.last_name}}
        </mat-option>
      </mat-select>
      <mat-select *ngIf="role!='super-admin' && role!='admin'" formControlName="belongs_to"
        placeholder="Select agent assigned to" name="belongs_to">
        <mat-option [value]="user?.id">
          {{user?.first_name}} {{user?.last_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

</div>

<div mat-dialog-content *ngIf="this.action == 'add' || this.action == 'edit'">

  <form [formGroup]="clientForm" class="client-form">

    <mat-form-field appearance="outline">
      <mat-label>Full name</mat-label>
      <input matInput formControlName="full_name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Alternate full name</mat-label>
      <input matInput formControlName="full_name_alt">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Alternate email</mat-label>
      <input matInput formControlName="email_alt" placeholder="Alternate email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone number</mat-label>
      <input matInput formControlName="phone_number" mask='(000) 000-0000' placeholder="Phone number">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Alternate phone number</mat-label>
      <input matInput formControlName="phone_number_alt" mask='(000) 000-0000' placeholder="Alternate phone number">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" placeholder="Address">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input matInput formControlName="city" placeholder="City">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>State</mat-label>
      <mat-select formControlName="state" placeholder="Select state" name="state">
        <mat-option *ngFor="let state of states" [value]="state.abbreviation">
          {{state.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Zip code</mat-label>
      <input matInput formControlName="zip_code" maxlength="5" placeholder="Zip code">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Organization</mat-label>
      <input matInput formControlName="organization" placeholder="Organization">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Assigned to</mat-label>
      <input *ngIf="userService.getUserPermissions('user', 'read')" type="text" matInput
        placeholder="Select assigned to" [formControl]="assignedToControl" [matAutocomplete]="autoAssignedTo">
      <mat-autocomplete #autoAssignedTo="matAutocomplete" [displayWith]="displayAgent"
        (optionSelected)="onClientAssignedToSelected($event)">
        <mat-option *ngFor="let agent of filteredAssignedtoAgents | async" [value]="agent">
          {{ agent?.first_name }} {{ agent?.last_name }}
        </mat-option>
      </mat-autocomplete>

      <mat-select *ngIf="!userService.getUserPermissions('user', 'read')" formControlName="belongs_to"
        placeholder="Select agent assigned to" name="belongs_to">
        <mat-option [value]="user?.id">
          {{user?.first_name}} {{user?.last_name}}
        </mat-option>
      </mat-select>

    </mat-form-field>

    <div class="d-flex align-items-center mb-3">
      Can be removed: &nbsp;
      <mat-slide-toggle (change)="toggleCanBeRemoved($event)" formControlName="can_be_removed" color="primary"
        class="ml-3">
      </mat-slide-toggle>
    </div>

    <div class="d-flex align-items-center mb-3" *ngIf="this.action == 'add'">
      Create claim: &nbsp;
      <mat-slide-toggle (change)="toggleCreateClaim($event)" color="primary" class="ml-3"></mat-slide-toggle>
    </div>

  </form>
</div>

<div mat-dialog-content *ngIf="this.action == 'delete'">
  Are you sure you want to delete this client?
  <p></p>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" *ngIf="this.action == 'add'" (click)="addClient()"
    [disabled]="!clientForm.valid || clientFormDisabled">
    <div class="spinner-container">
      <mat-spinner diameter="25" *ngIf="clientFormDisabled"></mat-spinner>
    </div>
    Save
  </button>

  <button mat-raised-button color="primary" *ngIf="this.action == 'multiple'" (click)="updateMultiple()"
    [disabled]="!clientBelongsTo.valid || clientFormDisabled">
    <div class="spinner-container">
      <mat-spinner diameter="25" *ngIf="clientFormDisabled"></mat-spinner>
    </div>
    Save
  </button>

  <button mat-raised-button color="warn" *ngIf="this.action == 'multiple-delete'" (click)="deleteMultiple()"
    [disabled]="clientFormDisabled">
    <div class="spinner-container">
      <mat-spinner diameter="25" *ngIf="clientFormDisabled"></mat-spinner>
    </div>
    Delete
  </button>

  <button mat-raised-button color="primary" *ngIf="this.action == 'edit'" (click)="updateClient()"
    [disabled]="!clientForm.valid || clientFormDisabled">
    <div class="spinner-container">
      <mat-spinner diameter="25" *ngIf="clientFormDisabled"></mat-spinner>
    </div>
    Update
  </button>

  <button mat-raised-button color="warn" [disabled]="" (click)="deleteClient()" *ngIf="action == 'delete'">
    <div class="spinner-container">
      <mat-spinner diameter="25" *ngIf="clientFormDisabled"></mat-spinner>
    </div>
    Delete
  </button>

  <button color="accent" mat-raised-button mat-dialog-close>Cancel</button>
</div>