.claim-file-share-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.mat-mdc-dialog-actions {
  justify-content: flex-start;
}

.template-table {
  width: 100%;
  margin-bottom: 12px;

  .last-active-cell {
    &:first-letter {
      text-transform: uppercase;
    }
  }
}