<p class="mat-headline-4 section-title">Team hierarchy</p>
<ul class="breadcrumb">
    <li class="breadcrumb-item">
        <a [routerLink]="['/app/dashboard']" (click)="onNavigate('Dashboard')"><mat-icon>home</mat-icon></a>
    </li>
    <li class="breadcrumb-item"><a
            href="javascript:">Administration</a>
    </li>
    <li class="breadcrumb-item"><a href="javascript:">Recruitment</a>
    </li>
</ul>

<mat-card appearance="outlined" *ngxPermissionsOnly="['super-admin','admin']">
    <mat-card-content>
        <form [formGroup]="searchFormGroup">
            <div class="row">
                <!-- Search User -->
                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Search User</mat-label>
                        <mat-select formControlName="search" placeholder="Select a user" name="searchUserId">
                            <mat-option *ngFor="let user of users" [value]="user.id">
                                {{user.first_name}} {{user.last_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mt-3 text-center">
                <div class="col-md-6">
                    <button class="btn btn-primary" mat-raised-button color="primary" (click)="search()"
                            [disabled]="searchFormGroup.invalid">
                        Search <mat-icon>search</mat-icon>
                    </button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-secondary" mat-raised-button (click)="resetSearch()">Cancel</button>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center align-items-center org-chart-container">
                <div class="org-chart-actions">
                    <button mat-icon-button class="org-chart-info" (click)="viewManagerOverrides()" matTooltip="View manager overrides">
                        <mat-icon>info</mat-icon>
                    </button>

                    <!-- New Sync Button for Admin -->
                    <button *ngxPermissionsOnly="['super-admin', 'admin']" mat-icon-button class="org-chart-sync" (click)="syncOrgChartFromCRM()" matTooltip="Sync with CRM">
                        <mat-icon>sync</mat-icon>
                    </button>
                </div>
                <app-ng-organization-chart
                        [editable]="isOrgChartEditable()"
                        [data]="orgChartDataSource"
                        (mousedown)="onMouseDown($event)"
                        (mousemove)="onMouseMove($event)"
                        (mouseup)="onMouseUp()"
                        (mouseleave)="onMouseUp()"
                        (wheel)="onMouseWheel($event)"
                        [style.transform]="transform"
                        (onClickNode)="clickNode($event)"
                        (onEvaluateChildNode)="evaluateNodeTitle($event)"
                        (onCreateChildNode)="addNewItem($event)"
                        (onDeleteNode)="deleteItem($event)"
                ></app-ng-organization-chart>
            </div>
        </div>

    </mat-card-content>
</mat-card>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
