@use '../../../../../styles/variables' as *;

:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
    mat-card {
        width: 20em;
        max-width: 100%;
        padding: 0;
        overflow: hidden;
        /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
        ::ng-deep.mat-card-header-text {
            width: 100%;
            text-align: center;
        }

        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            background-color: $primary-color;
            padding: 1em;
            user-select: none;
            cursor: default;

            .logo {
                position: relative;
                width: 40%;
                padding: .5em;

                svg {
                    fill: $white;
                }
            }

            .title {
                color: #FFF;
                font-weight: normal;
                margin: 0;
            }
        }
        /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
        mat-card-content {
            padding: 0 1rem 0;
            margin: 1rem 0;

            .registration-form {
                display: flex;
                flex-direction: column;

                .registration-field {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: flex-start;

                    mat-icon {
                        margin-right: .5em;
                    }

                    mat-form-field {
                        flex-grow: 1;
                    }
                }
            }

            .error-message {
                color: $error-color;
                text-align: center;
            }
        }
        /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
        mat-card-actions {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 1rem;
            margin: 1rem 0;

            button {
                min-width: 10em;
            }
        }
    }
}
