<app-header></app-header>
<main>
  <section class="section section-lg section-hero section-shaped">
    <div class="shape shape-style-1 shape-default">
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon fill="#172b4d" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <mat-card appearance="outlined">

          <header>
            <div class="logo">

            </div>
            <p class="mat-h2 title">RIN&trade; <br>Password reset</p>
          </header>

          <mat-card-content>
            <form [formGroup]="passwordForm" class="password-form">
              <div class="login-form">
                <div class="login-field">
                  <mat-icon color="accent">vpn_key</mat-icon>
                  <mat-form-field color="accent">
                    <input matInput placeholder="Password" autocompleteOff formControlName="newPassword" name="newPassword" type="password" required>
                    <mat-error *ngIf="passwordForm.controls['newPassword'].hasError('minlength')">
                      The new password is too short
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="login-field">
                  <mat-icon color="accent">vpn_key</mat-icon>
                  <mat-form-field color="accent">
                    <input matInput placeholder="Confirm password" autocompleteOff formControlName="repeatNewPassword" name="repeatNewPassword"
                      type="password" required>
                    <mat-error *ngIf="passwordForm.controls['repeatNewPassword'].hasError('PasswordsNotMatching')">
                      The new passwords do not match
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </form>
          </mat-card-content>

          <mat-card-actions>
            <button mat-raised-button (click)="changePassword()" color="primary"
              [disabled]="!passwordForm.valid || changePasswordDisabled">
              <div class="spinner-container"><mat-spinner diameter="25" *ngIf="changePasswordDisabled"></mat-spinner>
              </div>
              Change password
            </button>
            <button mat-button routerLink="/">Cancel</button>
            <p></p>
            <p></p>
          </mat-card-actions>
        </mat-card>

      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
