@use '../../../styles/variables' as *;

:host {
    /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
    mat-card {
        width: 25em;
        max-width: 100%;
        padding: 0;
        overflow: hidden;
        /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
        ::ng-deep.mat-card-header-text {
            width: 100%;
            text-align: center;
        }

        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            background-color: #172b4d;
            padding: 1em;
            user-select: none;
            cursor: default;

            .logo {
                position: relative;
                padding: .5em;
                text-align: center;

                svg {
                    fill: $white;
                }
            }

            .title {
                color: #fdfdfd;
                font-weight: bold;
                margin: 0;
                text-align: center;
                font-size: 1.5em;
                line-height: 1.5;
            }
        }
        /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
        /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
        mat-card-content {
            padding: 0 1rem 0;
            margin: 3rem 0 0 0;

            .login-form {
                display: flex;
                flex-direction: column;

                .login-field {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: flex-start;

                    mat-icon {
                        margin-right: .5em;
                    }

                    mat-form-field {
                        flex-grow: 1;
                        .mat-mdc-input-element {
                          height: 30px;
                        }

                    }


                }
            }

            .error-message {
                color: $error-color;
                text-align: center;
            }
        }
        /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
        mat-card-actions {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0 1rem;
            margin: 1rem 0;

            button {
                min-width: 10em;

                &:not(:first-child) {
                    margin-top: 1rem;
                }
            }
        }
    }
}
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-ripple {
  background-color: $primary-color !important;
  color: $primary-color !important;
}


