.mat-mdc-card {
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 700px;
  color: grey;
}

.header img {
  width: 150px;
  margin-bottom: 15px;
}

.header p {
  font-size: 16px;
  margin-bottom: 5px;
}

.file-list div {
    margin-top: 5px;
    margin-bottom: 10px;
}

.file-list ul {
  list-style-type: none;
  padding: 0;
}

.file-list li {
  padding: 10px 0;
}

.file-list a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-content: center;
  flex-direction: row;
  border-bottom: 1px dotted black; /* Adds a dotted bottom border */
  gap: 8px;
  margin-left: 50px;
  .mat-icon {
    color: black;
}
}


.download-all a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-content: center;
    flex-direction: row;
    gap: 8px;
    border-bottom: 1px dotted black; /* Adds a dotted bottom border */
    padding: 10px;
    padding-left: 50px;
    .mat-icon {
        color: black;
    }
  }


.logo {
    position: relative;
    padding: .5em;
    text-align: center;
}