<mat-card appearance="outlined">
    <form (ngSubmit)="register()">
      <header>
          <div class="logo">
          </div>
          <p class="mat-h2 title">RIN™</p>
      </header>

      <mat-card-content>
        <div class="registration-form" *ngIf="hashError == null && !this.registered">
            <p>Please finalise account registration by creating a password.</p>
          <div class="registration-field">
            <mat-icon color="accent">vpn_key</mat-icon>
            <mat-form-field color="accent">
                <input matInput placeholder="Password" name="password" type="password" [disabled]="!hashChecked" minlength="8" required [(ngModel)]="credentials.password">
              </mat-form-field>
          </div>

          <div class="registration-field">
            <mat-icon color="accent">vpn_key</mat-icon>
            <mat-form-field color="accent">
              <input matInput placeholder="Repeat Password" name="passwordRepeat" type="password" [disabled]="!hashChecked" minlength="8" required [(ngModel)]="credentials.passwordRepeat">
            </mat-form-field>
          </div>
        </div>

        <div class="error-message" *ngIf="!this.registered && (hashError != null || !passwordsMatch)">
            <span *ngIf="hashError == 'not-found' || hashError == 'invalid'">Incorrect registration link</span>
            <span *ngIf="hashError == 'expired'">Link expired</span>
            <span *ngIf="passwordsMatch == false">Passwords need to match</span>
        </div>

        <div class="registered" *ngIf="this.registered">
            Registration completed. Proceed to login.
        </div>
    </mat-card-content>

    <mat-card-actions *ngIf="hashError == null">
        <button mat-raised-button color="primary" routerLink="/login" *ngIf="this.registered">Login</button>
        <button mat-raised-button color="primary" [disabled]="registrationDisabled || !hashChecked" *ngIf="!this.registered"><div class="spinner-container"><mat-spinner diameter="25" *ngIf="registrationDisabled"></mat-spinner></div>
          Register</button>
      </mat-card-actions>
    </form>
  </mat-card>
