<p class="mat-headline-4 section-title">MLM Simulator</p>
<ul class="breadcrumb">
    <li class="breadcrumb-item">
        <a [routerLink]="['/app/dashboard']" (click)="onNavigate('Dashboard')"><mat-icon>home</mat-icon></a>
    </li>
    <li class="breadcrumb-item"><a
            href="javascript:">Administration</a>
    </li>
    <li class="breadcrumb-item"><a
            href="javascript:">MLM Simulator</a>
    </li>
</ul>


<mat-card appearance="outlined" *ngxPermissionsOnly="['super-admin','admin']">
    <mat-card-header>
        <mat-card-title>Simulate MLM Commission</mat-card-title>
        <mat-card-actions></mat-card-actions>
    </mat-card-header>
    <mat-card-content class="card-content">
        <div class="mlm-simulator" class="row">
            <mat-card appearance="outlined" class="col-lg-12 full-width">
                <div class="header">
                    <h2>MLM Simulator</h2>
                    <button mat-icon-button class="commission-breakdown" (click)="openCommissionBreakdown()" matTooltip="View Commission Breakdown">
                        <mat-icon>info</mat-icon>
                    </button>
                </div>
                <form (ngSubmit)="calculateCommission()">
                    <mat-form-field appearance="fill" class="full-width custom-border">
                        <mat-label>Title</mat-label>
                        <mat-select [(ngModel)]="commissionInput.title" [compareWith]="compareTitles" name="title" (selectionChange)="onTitleChange($event)" required>
                            <mat-option *ngFor="let title of TITLE_ARRAY" [value]="title.code">{{ title.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-accordion>
                    <mat-expansion-panel expanded>
                        <mat-expansion-panel-header>
                            <mat-panel-title>General Info</mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-form-field appearance="fill" class="one-forth-width custom-border">
                            <mat-label>Source rate (%)</mat-label>
                            <input matInput type="number" [min]="0" [max]="100" [(ngModel)]="commissionInput.sourceRate" name="sourceRate" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="one-forth-width custom-border">
                            <mat-label>Sign rate (%)</mat-label>
                            <input matInput type="number" [min]="0" [max]="100" [(ngModel)]="commissionInput.signRate" name="signRate" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="one-forth-width custom-border">
                            <mat-label>Adjust rate (%)</mat-label>
                            <input matInput type="number" [min]="0" [max]="100" [(ngModel)]="commissionInput.adjustRate" name="adjustRate" required>
                        </mat-form-field>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>Self Performance</mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-form-field appearance="fill" class="one-forth-width custom-border">
                            <mat-label>Contingency Fee (%)</mat-label>
                            <input matInput type="number" [(ngModel)]="commissionInput.selfContingencyFee" name="selfContingencyFee" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="one-forth-width custom-border">
                            <mat-label>Deals Per Week</mat-label>
                            <input matInput type="number" [(ngModel)]="commissionInput.selfDealsPerWeek" name="selfDealsPerWeek" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="one-forth-width custom-border">
                            <mat-label>Average Deal Value</mat-label>
                            <input matInput type="number" [(ngModel)]="commissionInput.selfAverageDealValue" name="selfAverageDealValue" required>
                        </mat-form-field>
                    </mat-expansion-panel>

                    <mat-expansion-panel *ngIf="downLineUsersExist()">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Estimated Performance of each down line agent
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <mat-form-field appearance="fill" class="one-forth-width custom-border" *ngIf="downLineUsersExist()">
                            <mat-label>Deals Per Week</mat-label>
                            <input matInput type="number" [(ngModel)]="commissionInput.teamDealsPerWeek" name="teamDealsPerWeek" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="one-forth-width custom-border" >
                            <mat-label>Average Deal Value</mat-label>
                            <input matInput type="number" [(ngModel)]="commissionInput.teamAverageDealValue" name="teamAverageDealValue" required>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="one-forth-width custom-border">
                            <mat-label>Contingency Fee (%)</mat-label>
                            <input matInput type="number" [(ngModel)]="commissionInput.teamContingencyFee" name="teamContingencyFee" required>
                        </mat-form-field>
                    </mat-expansion-panel>

                    <mat-expansion-panel *ngIf="downLineUsersExist()">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Organization Chart
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <button mat-icon-button class="org-chart-info" *ngIf="teamStructureImgUrl!==''" (click)="openOrgChart()" matTooltip="View Example Org chart">
                            <mat-icon>info</mat-icon>
                        </button>
                        <div class="interpretation-table">
                            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                                <!-- Interpretation Column -->
                                <ng-container matColumnDef="Notes:">
                                    <th mat-header-cell *matHeaderCellDef>
                                        Notes:
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>

                        <br><br>

                        <mat-form-field appearance="fill" class="one-forth-width custom-border" *ngIf="showQtyInput('EVP')">
                            <mat-label>Qty of direct down line EVP</mat-label>
                            <input matInput type="number" [min]="1" [(ngModel)]="commissionInput.qtyOfEVP" name="qtyOfEVP" required>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="one-forth-width custom-border" *ngIf="showQtyInput('RVP')">
                            <mat-label>Qty of direct down line RVP</mat-label>
                            <input matInput type="number" [min]="1" [(ngModel)]="commissionInput.qtyOfRVP" name="qtyOfRVP" required>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="one-forth-width custom-border" *ngIf="showQtyInput('DVM')">
                            <mat-label>Qty of direct down line DVM</mat-label>
                            <input matInput type="number" [min]="1" [(ngModel)]="commissionInput.qtyOfDVM" name="qtyOfDVM" required>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="one-forth-width custom-border" *ngIf="showQtyInput('SDM')">
                            <mat-label>Qty of direct down line SDM</mat-label>
                            <input matInput type="number" [min]="1" [(ngModel)]="commissionInput.qtyOfSDM" name="qtyOfSDM" required>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="one-forth-width custom-border" *ngIf="showQtyInput('DM')">
                            <mat-label>Qty of direct down line DM</mat-label>
                            <input matInput type="number" [min]="1" [(ngModel)]="commissionInput.qtyOfDM" name="qtyOfDM" required>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="one-forth-width custom-border" *ngIf="showQtyInput('SSA')">
                            <mat-label>Qty of direct down line SSA</mat-label>
                            <input matInput type="number" [min]="1" [(ngModel)]="commissionInput.qtyOfSSA" name="qtyOfSSA" required>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="one-forth-width custom-border" *ngIf="showQtyInput('SA')">
                            <mat-label>Qty of direct down line SA</mat-label>
                            <input matInput type="number" [min]="1" [(ngModel)]="commissionInput.qtyOfSA" name="qtyOfSA" required>
                        </mat-form-field>
                    </mat-expansion-panel>
                    </mat-accordion>
                    <button mat-raised-button color="primary" type="submit">Calculate Commission</button>
                </form>
            </mat-card>
        </div>
        <mat-card appearance="outlined" class="half-width">
            <h3>Commission Result</h3>
            <!-- Commission Details -->
            <div class="commission-details" *ngIf="commission">
                <p>Self Commission: {{ commission.selfCommission | currency }}</p>
                <p>Override Commission: {{ commission.overrideCommission | currency }}</p>
                <mat-divider></mat-divider>
                <p>Total Commission: {{ commission.totalCommission | currency }}</p>
            </div>
        </mat-card>
    </mat-card-content>
</mat-card>
