<h1 mat-dialog-title>Change password</h1>


<div mat-dialog-content>
    <form [formGroup]="passwordForm" class="password-form">
        <!-- <mat-form-field>
            <input matInput placeholder="Current password" formControlName="currentPassword" name="currentPassword" type="password" required>
            <mat-error *ngIf="passwordForm.controls['currentPassword'].hasError('IncorrectPassword')">
                Incorrect password, try again
            </mat-error>
        </mat-form-field> -->

        <mat-form-field>
            <input matInput placeholder="New password" formControlName="newPassword" name="newPassword" type="password" required>
            <mat-error *ngIf="passwordForm.controls['newPassword'].hasError('minlength')">
                The new password is too short
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Repeat new password" formControlName="repeatNewPassword" name="repeatNewPassword" type="password" required>
            <mat-error *ngIf="passwordForm.controls['repeatNewPassword'].hasError('PasswordsNotMatching')">
                The new passwords do not match
            </mat-error>
        </mat-form-field>
    </form>
</div>

<div mat-dialog-actions>
    <button mat-raised-button (click)="changePassword()" color="primary" [disabled]="!passwordForm.valid || changePasswordDisabled">
        <div class="spinner-container"><mat-spinner diameter="25" *ngIf="changePasswordDisabled"></mat-spinner></div>
        Change password
    </button>
    <button mat-button mat-dialog-close>Cancel</button>
</div>
