<footer id="footer">
  <section class="footer__section section--top">
    <div class="container">
      <div class="row">
        <div class="section__company-info-col col-lg-8 mb-3 mb-lg-0">
          <h4 class="company-info-col__title title--col-title">
            Response Intelligence Network
          </h4>

          <div class="row">
            <div class="col-lg-6 mb-2 mb-lg-0">
              <div class="company-info-col__location">
                <i class="location__icon icon bi bi-geo-alt-fill"></i>

                <p class="location__detail">
                  803 Park Avenue,<br />
                  Newtown, PA 18940<br />
                  United States
                </p>
              </div>

              <div class="company-info-col__contacts">
                <div class="contacts__contact">
                  <i class="contact__icon icon bi bi-telephone-fill"></i>

                  <p class="contact__detail">1-855-944-3473</p>
                </div>

                <div class="contacts__contact">
                  <i class="contact__icon icon bi bi-envelope-fill"></i>

                  <p class="contact__detail">claims&#64;upaclaim.org</p>
                </div>
              </div>
            </div>

            <div class="company-info-col__social-links col-lg-6">
              <a
                href="https://x.com/UPA_Non_Profit"
                target="_blank"
                class="social-links__social-link"
                ><i class="social-link__icon icon bx bxl-twitter"></i
              ></a>

              <a
                href="https://www.facebook.com/unifiedpublicadvocacy"
                target="_blank"
                class="social-links__social-link"
                ><i class="social-link__icon icon bx bxl-facebook"></i
              ></a>

              <a
                href="https://www.instagram.com/unifiedpublicadvocacy"
                target="_blank"
                class="social-links__social-link"
                ><i class="social-link__icon icon bx bxl-instagram"></i
              ></a>

              <div class="w-100"></div>

              <a
                href="https://www.threads.net/@unifiedpublicadvocacy"
                target="_blank"
                class="social-links__social-link"
              >
                <i class="social-link__icon bi bi-threads"></i>
              </a>

              <a
                href="https://www.linkedin.com/company/unified-public-advocacy-upa"
                target="_blank"
                class="social-links__social-link"
                ><i class="social-link__icon icon bx bxl-linkedin"></i
              ></a>

              <a
                href="https://www.youtube.com/@UnifiedPublicAdvocacy"
                target="_blank"
                class="social-links__social-link"
              >
                <i class="social-link__icon icon bi bi-youtube"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="section-top__newsletter-col col-lg-4">
          <h4 class="newsletter-col__title title--col-title">
            Join Our Newsletter
          </h4>

          <h6 class="newsletter-col__sub-title">
            Subscribe to our newsletter for frequent updates.
          </h6>

          <form action="" method="post" class="newsletter-col__form">
            <input type="email" name="email" class="form__email-input" />

            <input type="submit" value="Subscribe" class="form__submit-input" />
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="footer__section section--bottom">
    <div class="container">
      <div class="section__copyright">
        &copy; Copyright <strong>Response Intelligence Network</strong>. All Rights
        Reserved
        <p class="powered-by">Powered by ACI Adjustment Group | Supporting Unified Public Advocacy (UPA)</p>
      </div>
    </div>
  </section>
</footer>

<!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a> -->
