<h2 mat-dialog-title>
  Lead comments
</h2>

<div mat-dialog-content *ngIf="this.action == 'view'">

  <dl class="row">
    <dt class="col-sm-12">Comments</dt>
    <dd class="col-sm-12">{{ this.leadComment?.text }}</dd>
  </dl>

      <dl class="row">
        <dt class="col-sm-12">Created by</dt>
        <dd class="col-sm-12">{{ this.leadComment?.created_by?.first_name }}</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-12">Created at</dt>
        <dd class="col-sm-12">
          {{
          this.leadComment.created_at
          ? (this.leadComment?.created_at | date : "MMMM dd, yyyy h:mm:ssa")
          : "-"
          }}
        </dd>
      </dl>

      <dl class="row">
        <dt class="col-sm-12">Updated by</dt>
        <dd class="col-sm-12">{{ this.leadComment?.updated_by?.first_name }}</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-12">Updated at</dt>
        <dd class="col-sm-12">
          {{
          this.leadComment?.updated_at
          ? (this.leadComment?.updated_at | date : "MMMM dd, yyyy h:mm:ssa")
          : "-"
          }}
        </dd>
      </dl>
</div>

<div mat-dialog-content *ngIf="this.action == 'add' || this.action == 'edit'">

  <form [formGroup]="commentForm" class="comment-form">

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Comments</mat-label>
      <textarea matInput rows="8" formControlName="text" placeholder="Enter comments"></textarea>
    </mat-form-field>

    <div class="d-flex align-items-center mb-3">
      Can be removed:
      <mat-slide-toggle (change)="toggleCanBeRemoved($event)" [checked]="canBeRemoved" color="primary"
        class="ml-3"></mat-slide-toggle>
    </div>

  </form>
</div>

<div mat-dialog-content *ngIf="this.action == 'delete'">
  Are you sure you want to delete this comment?
  <p></p>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" *ngIf="this.action == 'add'" (click)="addComment()"
    [disabled]="!commentForm.valid || commentFormDisabled">
    <div class="spinner-container">
      <mat-spinner diameter="25" *ngIf="commentFormDisabled"></mat-spinner>
    </div>
    Save comment
  </button>

  <button mat-raised-button color="primary" *ngIf="this.action == 'edit'" (click)="updateComment()"
    [disabled]="!commentForm.valid || commentFormDisabled">
    <div class="spinner-container">
      <mat-spinner diameter="25" *ngIf="commentFormDisabled"></mat-spinner>
    </div>
    Update comment
  </button>

  <button mat-raised-button color="warn" [disabled]="" (click)="deleteComment()" *ngIf="action == 'delete'">
    <div class="spinner-container">
      <mat-spinner diameter="25" *ngIf="commentFormDisabled"></mat-spinner>
    </div>
    Delete
  </button>

  <button color="accent" mat-raised-button mat-dialog-close>Cancel</button>
</div>
